.row{
	margin-left: 0px;
	margin-right: 0px;
}
.col-md-12{
	padding-left: 0px;
	padding-right: 0px;
}
.navbar-fixed-top {
	background-image: none;
	background: #e5e5e5;
	border: none;
	height: 50px;
}
.logo img {
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}

#recherche {
	float: left;
	margin-top: 12px;
	margin-right: 10px;
}

#recherche .champ {
	background:#fff;
	border:none;
	color:#000;
	vertical-align: middle;
	border-radius: 12px 0px 0 12px;
	padding: 0px 15px 0px 15px;
	border: 2px solid #dedede;
	border-right: none;
	height: 25px;
	width: 190px;
}


#recherche .bouton {
	display: inline-block;
	background:#fff;
	border:none;
	vertical-align: middle;
	margin-left: -5px;
	border-radius: 0 12px 12px 0;
	padding: 5px 0px 0px 5px;
	border: 2px solid #dedede;
	border-left: none;
	height: 25px;
}
#recherche .searchicon {
	vertical-align: middle;
	margin-right: 10px;
	top: -1px;
	color: #dedede;
	transition: 0.3s;
}
#recherche .searchicon:hover{
	color: #bbb;
}

.param {
	color: #3a4147;
	float: left;
}

.user {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	float: right;
	margin-right: 10px;
	height: 50px;
	color: #3a4147;
	transition: 0.3s;
}
a.user:hover{
	background: rgba(255,255,255,0.3);
	text-decoration: none;
	color: #5c6f80;
}
a.user:focus{
	background: rgba(255,255,255,0.3);
	text-decoration: none;
	color: #5c6f80;
}
.glyphicon-cog:before {
	font-size: 20px;
	margin-top: 5px;
}

.body{
	margin-top: 50px;
}

.body .header{
	position: relative;
	height: 350px;
}
.bottomBandeau {
	background: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid #a5a5a5;
}

.header .couverture {
	width: 100%;
	height: 351px;
	margin-top: -1px;
}

.body .header .bottomBar{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 50px;
	line-height: 50px;
}

.body .header .imgProfil{
	position: absolute;
	bottom: -100px;
	text-align: center;
	background: #ffffff;
	width: 265px;
	margin-left: -20px;
	box-shadow: 0px -2px 9px -1px #999;
}

.body .header .imgProfil img{
	padding-top: 15px;
	width: 235px;
	height: 250px;
}
.imgProfil span {
	color: #515151;
	font-weight: bold;
	font-size: 16px;
}

.body .header .bottomBar .username{
	color: white;
	font-size: 25px;
	margin-left: -160px;
	margin-right: 160px;
}
.info {
	padding-bottom: 15px;
	border-bottom: 1px solid #d2d2d2;
}
.info h2 {
	font-size: 25px;
}
.info .presentationTxt {
	padding-top: 20px;
	width: 450px;
	margin-left: -40px;
}

.info p, .info h2, .info a {
	color: #515151;
	transition: 0.3s;
}
.info a:hover {
	color: #787878;
}
.info p, .info a {
	font-size: 16px;
}
.body .info .social_links{
	padding: 20px 0px 0px 30px;
}
.body .info .social_links a{
	margin-right: 10px;
}
.body .info .social_links a:hover{
	text-decoration: none;
}
.body .info .info_links{
	margin-left: 30px;
	margin-top: 20px;
}
.body .info .info_links a{
	display: inline-block;
	margin-bottom: 10px;
}
a.dropdown-toggle {
	transition: 0.3s;
	height: 100%;
}

a.dropdown-toggle span {
	transition: 0.3s;
}

.dropdown a.dropdown-toggle:hover {
	background: rgba(255,255,255,0.3)!important;
}

.dropdown a.dropdown-toggle:hover span{
	color: #5c6f80;
}

.nav > li > a:hover, .nav > li > a:focus {
	color: #000!important;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
	background: none;
}
.navbar-nav > li > .dropdown-menu {
	box-shadow: 0px 2px 9px 0px #bbb;
}
.contTimeline{
	padding: 30px 30px 20px 0px;
	position: relative;
	background: -moz-linear-gradient(top,  rgba(216,216,216,0.8) 0%, rgba(245,245,245,0.8) 25%, rgba(245,245,245,0.8) 75%, rgba(216,216,216,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(216,216,216,0.8)), color-stop(25%,rgba(245,245,245,0.8)), color-stop(75%,rgba(245,245,245,0.8)), color-stop(100%,rgba(216,216,216,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(216,216,216,0.8) 0%,rgba(245,245,245,0.8) 25%,rgba(245,245,245,0.8) 75%,rgba(216,216,216,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(216,216,216,0.8) 0%,rgba(245,245,245,0.8) 25%,rgba(245,245,245,0.8) 75%,rgba(216,216,216,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(216,216,216,0.8) 0%,rgba(245,245,245,0.8) 25%,rgba(245,245,245,0.8) 75%,rgba(216,216,216,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(216,216,216,0.8) 0%,rgba(245,245,245,0.8) 25%,rgba(245,245,245,0.8) 75%,rgba(216,216,216,0.8) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccd8d8d8', endColorstr='#ccd8d8d8',GradientType=0 ); /* IE6-9 */
overflow-y: auto;
max-height: 1000px;
}
.contTimeline ul.timeline:before{
	background: none repeat scroll 0 0 #5C6C8E;
}
.contTimeline ul.timeline li.timeline-blue div.timeline-body{
	margin: 0 0 20px 25%;
	background-color: #5C6C8E;
	width: 56%;
}
.contTimeline ul.timeline li.timeline-blue div.timeline-body h2{
	text-transform: uppercase;
	font-size: 27px;
}

.contTimeline ul.timeline li.timeline-blue div.timeline-body p{
font-size: 15px;
line-height: 22px;
}
.contTimeline ul.timeline li.timeline-blue div.timeline-body:after{
	border-color: rgba(0, 0, 0, 0) #5C6C8E rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.contTimeline ul.timeline li.timeline-blue div.timeline-icon{
	margin: 5px 0 0 -30px;
	box-shadow: 0 0 0 8px #5C6C8E;
	background-color: #7082AA;
	width: 50px;
	height:50px;
}
.contTimeline ul.timeline li.timeline-blue div.timeline-icon i{
	line-height: 2.5;
	font-size: 20px;
}
.contTimeline ul.timeline li.timeline-blue div.timeline-time span.date{
	text-transform: uppercase;
	font-size: 14px;
}
.contTimeline ul.timeline li.timeline-blue div.timeline-time span.time{
	font-size: 28px;
	line-height: 24px;
	color: #5C6C8E;
}
.rightMenu {
	float: right;
}
.rightMenu a {
	text-decoration: none;
}

.rightMenu a:hover {
	text-decoration: none;
}

.footer {
	padding-bottom: 35px;
	padding-top: 20px;
	border-top: 1px solid #d2d2d2;
}

.footer .bloc h2{
	color: #5C6C8E;
	font-size: 25px;
	border-bottom: 2px solid #5C6C8E;
}
.footer .bloc span{
	font-size: 16px;
}
.footer .bloc .ssbloc{
	margin-top: 10px;
	padding: 10px;
	background: #f5f5f5;
}
.footer .bloc .community .alias{
	color: #5C6C8E;
	padding: 3px 3px 3px 3px;
	border: 1px solid #5C6C8E;
	text-transform: uppercase;
	border-radius: 5px;
}
.footer .bloc .community .name{
	color: #5C6C8E;
	margin-left: 10px;
}
.footer .bloc .competence .name{
	color: #5C6C8E;
	margin-right: 20px;
}
.footer .bloc .competence .note{
	width: 12px;
	height: 12px;
	display: inline-block;
	background: #d1d1d1;
	border-radius: 6px;
}
.footer .bloc .competence .active{
	background: #5C6C8E;
}
.footer .bloc .hobby{
	padding: 3px 10px;
	background: #f5f5f5;
	color: #5C6C8E;
	display: inline-block;
	margin-bottom: 5px;
	border-radius: 10px;
}

.body .header .bottomBar .communityname{
	color: white;
	font-size: 25px;
	margin-left:25px; 
}

#container {
	width: 1290px; 
	margin: 0 auto; 
}
.item {
	width: 612px;
	margin: 20px 10px 10px 10px;
	float: left;
	background-color:#ffffff;
	border:solid 1px #B4BBCD;
	min-height:50px;
	text-align:justify;
	word-wrap:break-word;
}

.timeline_container{
	width: 16px;
	text-align: center;
	margin: 0 auto;
	cursor:pointer;
	display: block;
}
.indexTimeline{
	margin: 0 auto;
	background-color:#444;
	display: block;
	float: left;
	height: 100%;
	left: 638px;
	margin-top: 10px;
	position: absolute;
	width: 4px;
}

.rightCorner {
	background-image: url("../img/right.png");
	display: block;
	height: 15px;
	margin-left: 611px;
	margin-top: 8px;
	padding: 0;
	vertical-align: top;
	width: 13px;
	z-index:2;
	position: absolute;
}
.leftCorner{
	background-image: url("../img/left.png");
	display: block;
	height: 15px;
	width: 13px;
	margin-left: -13px;
	margin-top: 8px;
	position: absolute;
	z-index:2;
}
.contentItem {
	padding: 20px;
}
.rightActu, .leftActu {
	background: #fff;
	border: none;
}
.leftActu {
	left: 8px!important;
}
.rightActu {
	left:641px!important;
}
.contentItem .comment a {
	font-weight: bold;
	color: #3b475e;
}
.contActu {
	background-image:url('../img/background_timeline.jpg');
	overflow-y: auto; 
	max-height: 1500px;
}
.contentItem p.destActu {
	color: #2a2a2a;
	margin-top: 10px;
}
.contentItem img.imgActu {
	width: 570px;	
	height: 200px;
}

.contentItem p.dateActu {
	font-size: 12px;
	font-style: italic;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #a0a0a0;
}
.postComment textarea {
	  resize: none; 
	  width: 100%;
	  border: none;
	  margin-bottom: 10px;
	  border: 1px solid #ddd;
}

.comment a {
	margin-right: 5px;
}

.comment a { 
	display: inline-block;
	text-align: left;
}
.comment p {
	text-align: left;
}

.comment {
	margin-bottom: 10px;
}
.comment span {
	display: block;
	font-weight: italic;
	font-size: 12px;
	float: right;
}
.commentsActu {
	overflow-y: auto;
	max-height: 200px;
}
.fa-bookmark {
	float: right;
	margin-right: 30px;
	font-size: 30px;
	margin-top: -4px;
}
.item .alias {
	color: #5C6C8E;
	padding: 3px 3px 3px 3px;
	border: 1px solid #5C6C8E;
	text-transform: uppercase;
	border-radius: 5px;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
.noteGlobale {
	display: inline-block;
float: right;
}