.row{
	margin-left: 0px;
	margin-right: 0px;
}
.col-md-12{
	padding-left: 0px;
	padding-right: 0px;
}
.navbar-fixed-top {
	background-image: none;
	background: #e5e5e5;
	border: none;
	height: 50px;
}
.logo img {
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}

#recherche {
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}

#recherche .champ {
	background:#fff;
	border:none;
	color:#000;
	vertical-align: middle;
	border-radius: 12px 0px 0 12px;
	padding: 3px 0px 3px 15px;
	border: 2px solid #dedede;
	border-right: none;
}

#recherche .bouton {
	display: inline-block;
	background:#fff;
	border:none;
	vertical-align: middle;
	margin-left: -5px;
	border-radius: 0 12px 12px 0;
	padding: 4px 0px 5px 5px;
	border: 2px solid #dedede;
	border-left: none;
}
#recherche .searchicon {
	vertical-align: middle;
	margin-right: 10px;
}
.param {
	margin-top: 13px;
	float: left;
}

.user {
	margin-top: 5px;
	float: left;
	margin-right: 10px;
}

.glyphicon-cog:before {
	font-size: 20px;
	margin-top: 5px;
}

.body{
	margin-top: 50px;
}

.body .header{
	position: relative;
	height: 500px;
}

.body .header .bottomBar{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: rgba(0, 0, 0, 0.3);
}

.body .header .imgProfil{
	position: absolute;
	width: 100%;
	bottom: -100px;
	text-align: center;
	background: #ffffff;

	border-left: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}

.body .header .imgProfil img{
	padding-top: 15px;
	width: 280px;
	height: 295px;
}

.body .header .bottomBar .username{
	color: white;
	font-size: 25px;
}
.body .contTimeline{
	position: relative;
	background: #f5f5f5;
}