.row{
	margin-left: 0px;
	margin-right: 0px;
}
.col-md-12{
	padding-left: 0px;
	padding-right: 0px;
}
.navbar-fixed-top {
	background-image: none;
	background: #e5e5e5;
	border: none;
	height: 50px;
}
.logo img {
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}

#recherche {
	float: left;
	margin-top: 12px;
	margin-right: 10px;
}

#recherche .champ {
	background:#fff;
	border:none;
	color:#000;
	vertical-align: middle;
	border-radius: 12px 0px 0 12px;
	padding: 0px 15px 0px 15px;
	border: 2px solid #dedede;
	border-right: none;
	height: 25px;
}


#recherche .bouton {
	display: inline-block;
	background:#fff;
	border:none;
	vertical-align: middle;
	margin-left: -5px;
	border-radius: 0 12px 12px 0;
	padding: 5px 0px 0px 5px;
	border: 2px solid #dedede;
	border-left: none;
	height: 25px;
}
#recherche .searchicon {
	vertical-align: middle;
	margin-right: 10px;
	top: -1px;
	color: #dedede;
	transition: 0.3s;
}
#recherche .searchicon:hover{
	color: #bbb;
}

.param {
	color: #3a4147;
	float: left;
}
.user {
	margin-top: 5px;
	float: right;
	margin-right: 10px;
}
.glyphicon-cog:before {
	font-size: 20px;
	margin-top: 5px;
}

.body{
	margin-top: 50px;
}

.body .header{
	position: relative;
	height: 300px;
	background: #888;
}
.bottomBandeau {
	background: rgba(0, 0, 0, 0.3);
}

.body .header .bottomBar{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 50px;
	line-height: 50px;
}

.body .header .imgProfil{
	position: absolute;
	bottom: -100px;
	text-align: center;
	background: #ffffff;
	width: 265px;
	margin-left: -20px;
	box-shadow: 0px 6px 18px 0px #999;
}

.body .header .imgProfil img{
	padding-top: 15px;
	width: 235px;
	height: 250px;
}

.body .header .bottomBar .username{
	color: white;
	font-size: 25px;
}
.body .info .social_links{
	padding: 20px 0px 0px 30px;
}
.body .info .social_links a{
	margin-right: 10px;
}
.body .info .social_links a:hover{
	text-decoration: none;
}
.body .info .info_links{
	margin-left: 30px;
}
.body .info .info_links a{
	display: inline-block;
	margin-bottom: 10px;
}
a.dropdown-toggle {
	transition: 0.3s;
	height: 100%;
}
.nav > li > a:hover, .nav > li > a:focus {
	color: #000!important;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
	background: none;
}
.navbar-nav > li > .dropdown-menu {
	box-shadow: 0px 2px 9px 0px #bbb;
}
.contTimeline{
	padding: 30px 30px 0px 0px;
	position: relative;
	background: #f5f5f5;
}
.contTimeline ul.timeline:before{
	background: none repeat scroll 0 0 #5C6C8E;
}
.contTimeline ul.timeline li.timeline-blue div.timeline-body{
	margin: 0 0 20px 25%;
	background-color: #5C6C8E;
}
.contTimeline ul.timeline li.timeline-blue div.timeline-body h2{
	text-transform: uppercase;
}
.contTimeline ul.timeline li.timeline-blue div.timeline-body:after{
	border-color: rgba(0, 0, 0, 0) #5C6C8E rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.contTimeline ul.timeline li.timeline-blue div.timeline-icon{
	margin: 5px 0 0 -30px;
	box-shadow: 0 0 0 8px #5C6C8E;
	background-color: #7082AA;
	width: 50px;
	height:50px;
}
.contTimeline ul.timeline li.timeline-blue div.timeline-icon i{
	line-height: 2.5;
	font-size: 20px;
}
.contTimeline ul.timeline li.timeline-blue div.timeline-time span.date{
	text-transform: uppercase;
	font-size: 9px;
}
.contTimeline ul.timeline li.timeline-blue div.timeline-time span.time{
	font-size: 24px;
	line-height: 24px;
	color: #5C6C8E;
}
.rightMenu {
	float: right;
}
.footer .bloc h2{
	color: #5C6C8E;
	font-size: 20px;
	border-bottom: 2px solid #5C6C8E;
}
.footer .bloc .ssbloc{
	margin-top: 10px;
	padding: 10px;
	background: #f5f5f5;
}
.footer .bloc .community .alias{
	color: #5C6C8E;
	padding: 3px 3px 3px 3px;
	border: 1px solid #5C6C8E;
	text-transform: uppercase;
	border-radius: 5px;
}
.footer .bloc .community .name{
	color: #5C6C8E;
	margin-left: 10px;
}
.footer .bloc .competence .name{
	color: #5C6C8E;
	margin-right: 20px;
}
.footer .bloc .competence .note{
	width: 12px;
	height: 12px;
	display: inline-block;
	background: #d1d1d1;
	border-radius: 6px;
}
.footer .bloc .competence .active{
	background: #5C6C8E;
}
.footer .bloc .hobby{
	padding: 3px 10px;
	background: #f5f5f5;
	color: #5C6C8E;
	display: inline-block;
	margin-bottom: 5px
}