<!DOCTYPE html>

<html>

	<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	</head>

	<body style=" font-size:12px; font-family:Helvetica, sans-serif">

		
			<table  width="600" bgcolor="#e0effc" cellpadding="0" cellspacing="0" >

				<tr height="27px">
					<td colspan="5"></td>
				</tr>	

				<tr>
					<td width="169px" height="92px" line-height="0"></td>
					<td style="line-height: 0;">
						<img src="http://zupimages.net/viewer.php?id=14/24/yu7p.jpg" alt="Logo Unetwork"/>
					</td>
				</tr>

				<tr >
					<td style="line-height: 0;" colspan="5">						
						<img src="http://zupimages.net/viewer.php?id=14/24/rwva.jpg" alt="Haut de la lettre"/>
					</td>	
				</tr>
			</table>


			<table style="line-height: 0;" bgcolor="#e0effc" cellpadding="0" cellspacing="0" >
				<tr>
					<td  width="70px" height="141px"></td>

					<td  width="66px" height="141px"> 	
						<img src="http://zupimages.net/viewer.php?id=14/24/yelm.jpg" alt="Gauche lettre"/>	
					</td>

					<td style="line-height: 1" width="329px" height="141px" bgcolor="#FFFFFF" align="center" >
						
						{% block text %}

						{% endblock %}
						
					</td>	

					<td width="64px" height="141px">		
						<img src="http://zupimages.net/viewer.php?id=14/24/n85t.jpg" alt="droit lettre"/>	
					</td>

					<td width="71px" height="141px"></td>	
				</tr>
			</table>	





			<table bgcolor="#e0effc" cellpadding="0" cellspacing="0">
				<tr>
					<td style="line-height: 0;" width="70px" height="31px"></td>

					<td style="line-height: 0;" width="131px" height="31px"> 	
						<img src="http://zupimages.net/viewer.php?id=14/24/b9jb.jpg" alt="gauche lettre 2"/>	
					</td>

					<td style=" line-height: 0; color:#FFFFFF ; font-size:17px;" align="center"  width="198px" height="31px" bgcolor="#5dbcd1">
						
					% block bouton %} 	<a style="text-decoration:none; color:#FFF" href="{{ link }}"> { {% endblock %}</a>
					</td>	

					<td style="line-height: 0;" width="130px" height="31px">		
						<img src="http://zupimages.net/viewer.php?id=14/24/ytn8.jpg" alt="droit lettre 2"/>	
					</td>

					<td style="line-height: 0;" width="71" height="31px"></td>	
				</tr>
			</table>	
		
			<table bgcolor="#e0effc" cellpadding="0" cellspacing="0">
				<tr>
					<td style="line-height: 0;" width="70px" height="244px"></td>

					<td style="line-height: 0;" height="244px"> 	
						<img src="http://zupimages.net/viewer.php?id=14/24/yysh.jpg" alt="Bas lettre"/>	
					</td>
				</tr>
	
				<tr>
					<td height="50px" colspan="5" align="center">
					Pour toutes questions : <a href="contact@u-network.fr"> contac@u-network.fr </a> 
					</td>
				</tr>
			</table>	


	</body>

</html>