{% extends 'UnetworkAdminBundle::layout.html.twig' %}

{% block body %}

	<h1>Actu</h1>

	<div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                	{% for  in %}
                 		
                 		 <th>  </th>
                
               		 {% endfor %}             
                </tr>
              </thead>

              <tbody>
                <tr>
                	{% for in  %}                 		
                 		 <td>  </td>                
               		{% endfor %}     


                </tr>
              </tbody>
            </table>
          </div>

{% endblock %}

