{% extends 'UnetworkAdminBundle::layout.html.twig' %}

{% block body %}

	<h1>Actu</h1>

	{% for actuality in actualities %}
		{{ actuality.id }} 
		{{ actuality.name }} 
		{{ actuality.description }} 
	{% endfor %}

{% endblock %}

