{% extends 'UnetworkAdminBundle::layout.html.twig' %}

{% block body %}

	<h1>Actu</h1>

	<div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                 		<th> Id </th>                 		
                 		<th> Texte </th>     
                 		<th> Communauté </th>
                 		<th> Modifier </th>
                 		<th> Supprimer </th>

                </tr>
              </thead>

              <tbody>

                	{% for actuality in actualities  %}                 		
                 		 <tr>
	                 		 <td> 	{{ actuality.id }}  </td>    
 
	                 		 <td> 	{{ actuality.description|truncate(250) }}  </td>
                 		 </tr>                
               		{% endfor %}     


               
              </tbody>
            </table>
          </div>
>>>>>>> FETCH_HEAD

{% endblock %}

