{% extends 'UnetworkAppBundle::layout.html.twig' %}

{% block body %}

	<h1>Recherche</h1>

		//on affiche le formulaire dans la vue avec le render    
        return $this->render('UnetworkAppBundle:Recherche:recherche.html.twig', array(
            'form' => $form->createView(),
        ));


{% endblock %}