<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('admin_actu')}}">Profil</a></li>
        <li><a href="{{ path('admin_community')}}">Experiences</a></li>
        <li><a href="{{ path('admin_comment')}}">Competences</a></li>
        <li><a href="{{ path('admin_user')}}">Hobbies</a></li>
    </ul>
</div>