{% extends 'UnetworkAppBundle::layout.html.twig' %}

{% block body %}

	<h1>Bienvenue sur U-Network</h1>

	{% for actuality in actualities %}
		{{ actuality.name }} 
		{% for comment in actuality.comments %}
			{{ comment.content }} 
		{% endfor %}
	{% endfor %}

{% endblock %}

