{% extends 'UnetworkAdminBundle::layout.html.twig' %}

{% block body %}

         <h1 class="page-header">Statistiques</h1>


         <img src="/Admin/img/graph3.jpg"/>
         <img src="/Admin/img/graph4.jpg"/><br/>
         <img src="/Admin/img/graph5.jpg"/>
         <img src="/Admin/img/graph6.jpg"/><br/>  
         <img src="/Admin/img/graph7.jpg"/>
         <img src="/Admin/img/graph8.jpg"/>          

         


{% endblock %}

