{# src/Unetwork/AdminBundle/Resources/views/Security/login.html.twig #}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/Admin/img/favicon.ico">

    <title>U-Network Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="/Admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/Admin/css/style.css" rel="stylesheet">
    <link href="/Admin/css/connexion.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style type="text/css"></style><style id="holderjs-style" type="text/css"></style>
</head>

	<body class="body_Connexion">
	<div class="col-xs-8 col-sm-offset-8 col-sm-4 col-sm-offset-4 col-md-4 main connexion">
		<img class="logo"src="/Admin/img/logo.png">

		{% if error %}
 		   <div>{{ error.message|trans({},'messages') }}</div>
		{% endif %}
        

		<form action="{{ path('login_check') }}" method="post">
		    <input placeholder="Identifiant..." class="btn btn btn-default btn-lg" type="email" id="username" name="_username" value="{{ last_username }}" />

		    <input placeholder="Mot de passe..." class="btn btn-default btn-lg" type="password" id="password" name="_password" />
			<input class="btn btn-default btn-lg" type="hidden" name="_target_path" value="/app/index" />
    		<button class="btn btn-default btn-lg btnSubmit" type="submit">Se connecter</button>

		</form>

        <a href="{{ path('public_repassword_email') }}" class="btn btn-default btn-lg btnSubmit">Mot de passe oublié ?</a>



	</div>

	</body>
</html>





