<html>
	<head>
			<title>U-network </title>
			<link rel="icon" href="/img/favicon.ico" />
			<meta http-equiv="content-type" content="text/html; charset=utf-8" />
			<link rel="stylesheet" href="/App/bootstrap/css/bootstrap.css" />
			<link rel="stylesheet" href="/App/bootstrap/js/bootstrap.js" />
			<link rel="stylesheet" href="/App/bootstrap/css/bootstrap-theme.css" />
			<link rel="stylesheet" href="/App/css/style.css" />
			<link rel="stylesheet" href="/App/css/timeline.css" />
	</head>

		<body class="homepage">
			{% include 'UnetworkAppBundle::topbar.html.twig' %}

			<div class="row body">

				<div class="col-md-12">

				{% block body %}

				{% endblock %}

				</div>

			</div>

		</body>

</html>