<html>
	<head>
			<title>U-network </title>
			<link rel="icon" href="/img/favicon.ico" />
			<meta http-equiv="content-type" content="text/html; charset=utf-8" />
			<link rel="stylesheet" href="/App/bootstrap/css/bootstrap.css" />
			<link rel="stylesheet" href="/App/bootstrap/css/bootstrap-theme.css" />
			<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
			<link rel="stylesheet" href="/App/css/jquery-ui-1.10.4.custom.min.css" />
			<link rel="stylesheet" href="/App/css/style.css" />
			<!--<link rel="stylesheet" href="/App/css/components.css" />-->
			<link rel="stylesheet" href="/App/css/timeline.css" />
			<script src="/App/js/jquery.min.js"></script>
			<script src="/jquery-ui-1.10.4/js/jquery-ui-1.10.4.min.js"></script>
			<script src="/App/bootstrap/js/bootstrap.min.js"></script>
			<script src="/App/js/masonry.min.js"></script>
			<script src="/App/js/autocomplete.js"></script>

	</head>

		<body class="homepage">

			{{ render(controller('UnetworkAppBundle:Index:topbar')) }}
			


			<div class="row body">

				<div class="col-md-12">

				{% block body %}

				{% endblock %}

				</div>

			</div>

			    <script type="text/javascript">
			    	var link_autocomplete = "{{ path('app_autocomplete') }}" ;
			    	var link_user_profil = "{{ path('app_profil') }}" ;
			    </script>

		</body>

</html>