<div class="row">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="col-md-1">
			<a href="{{ path('app_index') }}" class="logo">
				<img src="/App/img/logo.png"/>
			</a>
		</div>
		<div class="col-md-3">
			<div id="recherche">
				<input type="text" placeholder="Rechercher..." class="champ"/>
				<a href="#" class="bouton">
					<span class="glyphicon glyphicon-search searchicon"></span>
				</a>
			</div>
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-3">
			<div class="user">
				<img width="40" height="40" src="/{{ user.getWebPath }}" />
				<span>{{ user.prenom }} {{ user.nom }}</span>
	  		</div>
	  	</div>
	  	<div class="col-md-1">
  			<!--<span class="glyphicon glyphicon-cog param"></span>-->
  			 <ul class="nav navbar-nav navbar-right">
		        <li class="dropdown">
		        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
		        	<ul class="dropdown-menu">
			            <li><a href="#">Action</a></li>
			            <li><a href="#">Another action</a></li>
			            <li><a href="#">Something else here</a></li>
			            <li class="divider"></li>
			            <li><a href="#">Separated link</a></li>
		          	</ul>
		        </li>
		    </ul>
  		</div>
	</nav>
</div>