<div class="row">
  <div class="col-md-12">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<a href="{{ path('app_index') }}" class="logo">
			<img src="/App/img/logo.png"/>
		</a>
		<div id="recherche">
			<input type="text" placeholder="Rechercher..." class="champ"/>
			<a href="#" class="bouton">
				<span class="glyphicon glyphicon-search searchicon"></span>
			</a>
		</div>
		<div class="user">
			<img width="40" height="40" src="/{{ user.getWebPath }}" />
			<span>{{ user.prenom }} {{ user.nom }}</span>
  		</div>
  		<span class="glyphicon glyphicon-cog param"></span>
	</nav>
  </div>
</div>