<div class="row">
  <div class="col-md-12">
	<nav class="navbar navbar-inverse  navbar-static-top" role="navigation">
	<img width="40" height="40" src="/{{ user.getWebPath }}" />
	{{ user.nom }}
	{{ user.prenom }}
	</nav>
  </div>
</div>