.formLosePass {
	color:white;
  	background-color: #eee;
  	text-align: center;
  	width: 500px;
  	margin:	0 auto;
  	padding: 20px;
  	margin-top: 50px;
  	color:  #444;
}
.formLosePass h1{
	font-size: 25px;
	padding-bottom: 20px;
}
.formLosePass  #form_email {
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 5px;
	color: #444;
}