{% extends 'UnetworkAppBundle:Parameter:layout.html.twig' %}

{% block body %}

  {% for flashMessage in app.session.flashbag.get('cv') %}

      <div class="flash-notice">
          <div class="alert alert-success alert1">
              <a href="#" class="close" data-dismiss="alert">&times;</a>
              {{ flashMessage }}
          </div>
      </div>
  {% endfor %}

	<h1>Informations Cv</h1>
  <a href="{{ path('app_param_cv_edit') }}"> Modifier </a>

	<div class="table-responsive">

            <table class="table table-striped">
              <tbody>
                    <tr>
                      <td>Votre présentation</td>
                       <td>{{ user.cv.presentation }}</td>
                     </tr>              		
                 		 <tr>
                      <td>Nom de l'emploi actuel</td>
	                 		 <td>{{ user.cv.jobname }}</td>
                 		 </tr>
              </tbody>
            </table>
          </div>

{% endblock %}

