a, a:hover, a:focus, a:active{
  text-decoration:none;
}




/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/* ------  ------*/

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
  vertical-align: middle;
}


/* ------ Community ------*/
.th_modify, .td_modify{
  text-align: center;
}

.td_modify img{
  cursor: pointer;
}

.community_img{
  width: 
}

.community_img{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 110px;
  padding-left: 5px;
  padding-right: 5px;
  height: 40px;
}

.th_id, .th_created, .th_updated{
  max-width: 130px;
}

.input_name{
  width: 100%;
  max-width: 400px;
}

.alias{
  width: 80px;
}

.input_alias{
  width: 100%;
  max-width: 55px;
}

.div_image_upload{
  margin-left: auto;
  margin-right: auto;
  width: 110px;
}

.div_image_upload input{
  display: none;
}

.div_image_upload img{
  display: block;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

.div_image_upload p{
  text-align: center;
  margin: 0px;
  font-size: 11px;
  margin-bottom: -7px;
  white-space: nowrap;
}

.red_outline{
  outline: 1px solid #FF0000;
}