<!-- Highlights Wrapper -->
			<div id="avis" class="wrapper wrapper-style3">
				<div class="title">Les Avis</div>
				<div class="container">
					<div class="row">
						<div class="12u">
							
							<!-- Highlights -->
								<div id="highlights">
									<div>
										<div class="row">
											<div class="4u">
												<section class="highlight highlight-one">
													<a href="http://fav.me/d59i3b3" class="image image-full"><img src="/images/pic02.jpg" alt="" /></a>
													<h3><a href="#">Omer Dalors</a></h3>
													<p>En tant qu'ancien élève j'ai pris beaucoup de plaisir à reprendre contact avec les anciens prof et élèves de ma promo !</p>
													<ul class="actions">
														<li><a href="#" class="button button-style1">Voir son profil</a></li>
													</ul>
												</section>
											</div>
											<div class="4u">
												<section class="highlight highlight-two">
													<a href="http://fav.me/d4tqyby" class="image image-full"><img src="/images/pic03.jpg" alt="" /></a>
													<h3><a href="#">Annah Konda</a></h3>
													<p> C'est vraiment la meilleur plateforme pour se tenir informer des actualités de l'école et de sa formation !</p>
													<ul class="actions">
														<li><a href="#" class="button button-style1">Voir son profil</a></li>
													</ul>
												</section>
											</div>
											<div class="4u">
												<section class="highlight highlight-three">
													<a href="http://fav.me/d5w2dot" class="image image-full"><img src="/images/pic04.jpg" alt="" /></a>
													<h3><a href="#">Henri Gole</a></h3>
													<p>J'ai reussis a trouver une alternance en moin de 1 mois avec U-network, et je travaille maintenant avec un ancien élève de l'école !</p>
													<ul class="actions">
														<li><a href="#" class="button button-style1">Voir son profil</a></li>
													</ul>
												</section>
											</div>
										</div>
									</div>
								</div>
							<!-- /Highlights -->
							
						</div>
					</div>
				</div>
			</div>
		<!-- /Highlights Wrapper -->