							<!-- Copyright -->
								<div id="copyright">
									<span>
										&copy; U-network. Design by <a href="http://html5up.net/">HTML5 UP</a> & CRW Science-U .
									</span>
								</div>
							<!-- /Copyright -->
						</div>
					</div>
				</div>
			</div>
			<div style="display:none">
				<div id="popup">
					<form action="#" method="post">
						{{ form_widget(form) }}
					</form>

				</div>
			</div>
			<script type="text/javascript">
				$(document).ready(function() {
					/* Apply fancybox to multiple items */
					$("a.inline").fancybox({
						'transitionIn'	:	'fade',
						'transitionOut'	:	'fade',
						'speedIn'		:	300,
						'speedOut'		:	300,
						'overlayShow'	:	true,
						'autoDimensions': false,
						'width'			: 500,
						'height'		: 630,
						'scrolling'		: 'no',
					});
				});
			</script>
		<!-- /Footer Wrapper -->
	</body>
</html>