<div id="footer-wrapper" class="wrapper">
	<div class="title">Contact</div>
	<div class="container">
	<div id="rs" class="row">
	<!-- FACEBOOK -->
		<div class="6u">
				<ul class="facebook_ul">
					<h3 class="fa fa-facebook-square"> Derniers Posts</h3>
					
							{% for post in posts  %}
								{% if post.message is defined and loop.index < 2 %}
									<li>
										<div class="row">
								      		<div class="3u">
								      		 	{{ post.created_time|date("d/m/Y") }}
								        	</div>

								        	<div class="9u">
								        		
							       				{{ post.message|truncate(200) }}
							       			</div>
							       		</div>		
						      		</li>
						        {% endif %}
						    {% endfor %}

						    
				</ul>
		</div>
	<!-- TWITTER -->
		<div class="6u">
				<ul class="twitter_ul">
					<h3 class="fa fa-twitter-square"> Derniers Posts</h3>
																	
								    {% for tweet in tweets  %}	
								    	{% if loop.index < 3 %}
									      	<li>
									      		<div class="row">
									      			<div class="3u">
									      		 		{{ tweet.created_at|date("d/m/Y") }}
									        		</div>

									        		<div class="9u">
								       					{{ tweet.text|raw }}
								       				</div>	
								       			</div>													     
											</li>
										{% endif %}	
									{% endfor %}

																					
				</ul>											
		</div>
	</div>			
