{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}
<!-- Header Wrapper -->
			<div id="header-wrapper" class="wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">
							<!-- Header -->
								<div id="header">
									<!-- Logo -->
										<div id="logo">
										</div>
									<!-- /Logo -->

									<!-- Nav -->
										<nav id="nav">
											<ul>
												<li class="current_page_item"><a href="{{ path('public_home') }}">Home</a></li>
												<li><a href="#intro-wrapper">Le projet</a></li>
												<li><a href="#rejoindre">Nous Rejoindre</a></li>
												<li><a href="#avis">Avis</a></li>
											</ul>
										</nav>
									<!-- /Nav -->
								</div>
							<!-- /Header -->
						</div>
					</div>
				</div>
			</div>
		<!-- /Header Wrapper -->
