	<!-- Intro Wrapper -->
			<div id="intro-wrapper" class="wrapper wrapper-style1">
				<div class="title">Le projet</div>
				<div class="container">
					<div class="row">
						<div class="12u">
							
							<!-- Intro-->
								<section id="intro">
									<p class="style1"> « Un vrai + pour les études » Eric Yang  </p>
									<p class="style2">	Le réseau social de Science-U !			</p>
									<p class="style3"><strong>U-network</strong>, est un <strong>réseau social</strong> et une <strong>plateforme de contacte</strong>entre ancien et nouveaux élèves. <a href="http://html5up.net/license/">C'est l'outils pour vos futures relations professionnelles </a></p>
								nas et gravida ligula sed lacus euismod tincidunt nullam eget justo orci.</p>
								
									<ul class="actions">
										<li><a href="#" class="button button-style3 button-big">Se Connecter</a></li>
									</ul>
								</section>
							<!-- /Intro -->
							
						</div>
					</div>
				</div>
			</div>
		<!-- /Intro Wrapper -->