{% extends 'UnetworkPublicBundle::layout.html.twig' %}

{% block body %}



<h1>Mentions légales</h1>

<h3>Ce site est exploité par l'AITPE, l'Association des ENTPE Alumni et Ingénieurs TPE</h3>

AITPE
ENTPE - Rue Maurice Audin
69518 Vaulx en Velin cedex
France

Directeur de la publication : Patrice COINDET, Président

Site hébergé par OVH
140 Quai du Sartel
59100 Roubaix
France

Site Internet ND-Campus
Net Directory
10 rue du roule
75001 Paris



Dispositions prévues pour l’Annuaire des ENTPE Alumni et Ingénieurs TPE

Gestion des données personnelles et professionnelles :

Les informations recueillies sont nécessaires pour la mise à jour de l’annuaire et le cas échéant pour votre adhésion.

Elles font l’objet d’un traitement informatique et sont destinées au secrétariat de l’association. En application des articles 39 et suivants de la loi du 6 janvier 1978 modifiée, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent.

Si vous souhaitez exercer ce droit et obtenir communication des informations vous concernant, veuillez vous adresser à : aitpe@entpe.fr

Propriété du contenu :

L’annuaire des ENTPE Alumni et Ingénieurs des TPE est protégé par la loi 98-536 du 1er juillet 1998 qui punit de deux ans d’emprisonnement et de 150 000 € d’amende le fait de porter atteinte aux droits du producteur d’une base de données tels que définis à l’article L.342-1 du Code de la Propriété Intellectuelle. L’AITPE bénéficie d’une protection du contenu des bases figurant dans cet annuaire en application de l’article L.341-1 du Code de la Propriété Intellectuelle.

Lors du conseil d’administration du 26 Juin 2012 l’AITPE a décidé d’interdire à tout utilisateur :

l’extraction, par transferts permanent ou temporaire de la totalité ou d’une partie qualitativement ou quantitativement substantielle du contenu de ses bases de données sur un autre support, par tout moyen et sous toute forme que ce soit ;

la réutilisation, par la mise à disposition du public de la totalité ou d’une partie qualitativement ou quantitativement substantielle du contenu de ces bases qu’elle qu’en soit la forme.

Tout utilisateur de nos bases de données qui donnera, louera, échangera, vendra ou bien prêtera tout ou partie de nos bases de données s’exposera donc à des poursuites.


Contactez-nous

AITPE

ENTPE - Rue Maurice Audin

69518 Vaulx-en-Velin cedex

Tel. : 04 72 04 70 01

Fax : 04 72 04 72 80

aitpe@entpe.fr

{% endblock %}
