<!-- Main Wrapper -->
<div id="rejoindre" class="wrapper wrapper-style2">
	<div class="title">Pourquoi nous rejoindre ?</div>
	<div class="container">
		<div class="row">
			<div class="12u">
			<!-- Main -->
				<div id="main">
					<!-- Video-->
					<div style="text-align:center;">
						<iframe width="640" height="360" src="https://www.youtube.com/embed/ZCC8olDzNNA" frameborder="0" allowfullscreen>
						</iframe>
					</div>
					<!-- /Video-->
					<!-- Features -->
					<section id="features">
						<header class="style1">
							<h2>« U-Network a permis à beaucoup d'élèves de trouver facilement une alternance grâce à notre réseau d'anciens élèves » </h2>
							<p class="byline">Medhi Benadi</p>
						</header>
						<div class="feature-list">
							<div>
								<div class="row">
									<div class="6u">
										<section>
											<h3 class="fa fa-comment">Social</h3>
											<p>Grâce à U-Network tu peux rester en contact avec ton école et tes amis !</p>
										</section>
									</div>
									<div class="6u">
										<section>
											<h3 class="fa fa-refresh">Recherche de travail</h3>
											<p>Mets ton CV sur ton profil et crées des annonces de recherche d'emploi pour augmenter tes chances de trouver une alternance !</p>
										</section>
									</div>
								</div>

								<div class="row">
									<div class="6u">
										<section>
											<h3 class="fa fa-wrench">Paramétrable</h3>
											<p>Grâce à une interface utilisateur complète, tu peux gérer ton flux d'actualités et les informations que tu veux faire apparaître</p>
										</section>
									</div>
									<div class="6u">
										<section>
											<h3 class="fa fa-check">Gère tes projets en groupe</h3>
											<p>La mise en place de groupes de projet te permet de gérer plus facilement tes projets en groupe !</p>
										</section>
									</div>
								</div>
							</div>
						</div>
						<ul class="actions actions-centered">
							<li><a href="{{ path('app_index')}}" class="button button-style1 button-big">Se Connecter</a></li>
							<li><a href="#popup" rel="group" class="button button-style2 button-big inline">Demande d'inscription</a></li>
						</ul>
					</section>
					<!-- /Features -->
				</div>
				<!-- /Main -->
			</div>
		</div>
	</div>
</div>
<!-- /Main Wrapper -->