 <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{{ path('admin_actu')}}">Actualités</a></li>
            <li><a href="{{ path('admin_community')}}">Communautés</a></li>
            <li><a href="">Commentaires</a></li>
            <li><a href="{{ path('admin_user')}}">Utilisateurs</a></li>
          </ul>


        </div>