 <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="#">Actualités</a></li>
            <li><a href="#">Communauté</a></li>
            <li><a href="#">Commentaires</a></li>
          </ul>


        </div>